:root {
    /* Fontes */
    --fonte-principal: 'Poppins', sans-serif;
  
    /* Cores */
    --cor-fundo-header: #000000;
    --cor-texto: #ffffff;
    --cor-botao: #f0b35b;
    --cor-fundo-sobre: #0d121e;
  
    /* Tamanhos */
    --largura-botao: 211px;
    --altura-botao: 44px;
    --raio-borda-botao: 10px;
  
    /* Tamanhos de fonte */
    --fonte-texto-normal: 16px;
    --fonte-horario: 18px;
    --fonte-h2: 40px;
  
    /* Espaçamentos */
    --margem-topo-textos: 20px;
    --margem-topo-botao: 24px;
  
    /* Layouts */
    --background-image-home: url('../images/home-background.jpg');
  }